<div class="container">
  <h3>Update Product <b>{{product.code}}</b> </h3>
  <div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Code</label>
        <input type="text" class="form-control" id="code" required [(ngModel)]="product.code" name="code" disabled>
      </div>
  
      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="product.description" name="description">
      </div>

      <div class="form-group">
        <label for="name">Price</label>
        <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
      </div>

      <div class="form-group">
          <label for="name">Detailed Description</label>
          <textarea type="text" class="form-control" id="detailed_description" required [(ngModel)]="product.detailed_description" name="detailed_description">
            </textarea>
          </div>
  
      <button type="submit" class="btn btn-success">Submit</button> 
      <button (click)="gotoList()" class="btn btn-default">Cancel</button><br>
    </form>
  </div>
</div>
